{% extends 'base.html.twig' %}

{% block title %}Arrivées / Départs{% endblock %}

{% block body %}

<div class="container">
    <div class="arr mt-4 text-light">
        Arrivées à : {{ company.firstname  }}, {{ company.adress.adress }} {{  company.adress.city.name }}
    </div>
    <div class="table-responsive">
        <table class="table table-hover mt-4 mb-4 text-center">
          <thead></thead>
          <tbody>
            <tr class="table-secondary" style = "font-weight:bold;">
              <th scope="row">Horaire</th>
              <td>Depart</td>
              <td>Pseudo</td>
              <td>Place disponible</td>
              <td>Observations</td>
            </tr>
            {% for departure in departures %}
                <tr class="table-secondary ">
                    <th style="vertical-align: middle;"scope="row">{{ departure.schedule.format('H:i')}}</th>
                    <td style="vertical-align: middle;">{{ departure.departure.name }}</td> <!-- acces à l'user puis table et colonne -->
                    <td style="vertical-align: middle;">{{ departure.user.firstName}}</td>
                    <td style="vertical-align: middle;">
                        {% if app.user != departure.user %}
                            <a style="color:blue; " href="{{ path('ride_id_resa', {
                                id: departure.id,
                                type: "departure"
                            }) }}">
                                {{ departure.spaceAvailable - departure.resas | length }}
                            </a>
                        {% else %}
                            {{ departure.spaceAvailable - departure.resas | length }}
                        {% endif %}
                    </td>
                    <td style="vertical-align: middle;">{{ departure.observations }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="arr mt-4 text-light">
        Départs de : {{ company.firstname  }}, {{ company.adress.adress }} {{  company.adress.city.name }}
    </div>
    <div class="table-responsive">
        <table class="table table-hover mt-4 text-center">
          <thead></thead>
          <tbody>
            <tr class="table-light" style = "font-weight:bold;">
              <th scope="row">Horaire</th>
              <td>Destination</td>
              <td>Pseudo</td>
              <td>Place disponible</td>
              <td>Observations</td>
            </tr>
            {% for arrival in arrivals %}
                <tr class="table-light ">
                  <th scope="row">{{ arrival.schedule.format('H:i')}}</th>
                  <td>{{ arrival.arrival.name }}</td> <!-- acces à l'user puis table et colonne -->
                  <td>{{ arrival.user.firstName}}</td>
                  <td>
                      {% if app.user != arrival.user %}
                            <a style="color:blue;" href="{{ path('ride_id_resa', {
                                id: arrival.id,
                                type: "arrival"
                            }) }}">
                                {{ arrival.spaceAvailable - arrival.resas | length }}
                            </a>
                        {% else %}
                            {{ arrival.spaceAvailable - arrival.resas | length }}
                        {% endif %}
                </td>
                  <td>{{ arrival.observations }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock %}
